/* src/pages/Home.css */

body {
  background-color: #f7f3f3; /* Light gray */
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: #f7f3f3;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.home-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #34495e;
}

.product-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
